<nav>
  <div class="navbar">
    <div class="nav" id="nav1">
      <a href="/recipes"><h1 class="nav">RECIPES</h1></a>
    </div>
    <div class="nav" id="nav2">
      <a href="/ingredients"><h1 class="nav">INGREDIENTS</h1></a>
    </div>
    <div class="nav" id="nav3">
      <a href="/shoppinglist"><h1 class= "nav">SHOPPING-LIST</h1></a>
    </div>
  </div>
</nav>