<nav>
  <div class="navbar">
    <div class="nav" id="nav1">
      <h1 class="nav">RECIPES</h1>
    </div>
    <div class="nav" id="nav2">
      <h1 class="nav">INGREDIENTS</h1>
    </div>
    <div class="nav" id="nav3">
      <h1 class= "nav">SHOPPING-LIST</h1>
    </div>
  </div>
</nav>