body {
  background-color: rgb(114, 122, 120);
  font-family: 'Pangolin', cursive;
  color:rgb(40, 42, 42)
}

a {
  text-decoration: none;
  color:rgb(40, 42, 42);
}

.nav {
  width: 31vw;
  margin-top: 0%;
  text-align: center;
  padding-top: 0.5rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.search-bar {
  margin-left: 85vw;
  padding-top: 0.5rem;
  font-family: 'Pangolin', cursive;
  #search {
    font-family: 'Pangolin', cursive;
    background-color: rgb(189, 203, 199);
    border-style: none;
  }
}

.rec-labels{
  font-size: 2rem;
}

img:hover {
  opacity: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0%;
  #selected {
    background-color: rgb(145, 155, 153);
  }
  #not-selected {
    background-color: rgb(129, 139, 137);
  }
}

.page {
  background-color: rgb(145, 155, 153);
  border-radius: 15px;
  height: 75vh;
  overflow: scroll;
  padding: 1.5rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  .recipe-img {
    opacity: 75%;
    border-radius: 15px;
    object-fit: cover;
    height: 25vw;
    width: 25vw;
  }
  // .recipe-name {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}

.rec-container {
  display: flex;
}

.ingredient-title{
  margin-top: 0;
}

img {
  width: 40vw;
  margin: 2rem;
}