body {
  background-color: rgb(114, 122, 120);
  font-family: 'Pangolin', monospace;
  color:rgb(40, 42, 42)
}

a {
  text-decoration: none;
  color:rgb(40, 42, 42);
}

.nav {
  width: 31vw;
  margin-top: 0%;
  text-align: center;
  padding-top: 0.5rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.search-bar {
  margin-left: 85vw;
  padding-top: 0.5rem;
  font-family: 'Pangolin', monospace;
  #search {
    font-family: 'Pangolin', monospace;
    background-color: rgb(189, 203, 199);
    border-style: none;
  }
}

.rec-labels{
  font-size: 2rem;
}

img:hover {
  opacity: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0%;
  #selected {
    background-color: rgb(145, 155, 153);
  }
  #not-selected {
    background-color: rgb(129, 139, 137);
  }
}

.page {
  background-color: rgb(145, 155, 153);
  border-radius: 15px;
  height: 75vh;
  overflow: scroll;
  padding: 1.5rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .recipe-img {
    border-radius: 10px;
    object-fit: cover;
    height: 15vw; //height was 25 
    width: 15vw;
    position: relative;
    margin: 0.5rem;
  }
  .recipe-name {
    font-size: 1.5rem;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.sl-page {
  display: flex;
  .sl-recipes {
    width: 50vw
  }
  .sl-list {
    width: 20vw
  }
  .paper {
    height: 70vh;
    padding-top: 0.5rem;
  }
  li {
    font-size: x-large;
    line-height: 150%;
  }
}



.single-recipe:hover {
  .recipe-name {
    opacity: 1;
  }
  .recipe-img {
    opacity: 0.5;
  }
}

.rec-container {
  display: flex;
}

.ingredient-title{
  margin-top: 0;
}

img {
  width: 40vw;
  margin: 2rem;
}