<h1>Recipes</h1>
<div class="container">
  {{#each recipes}}
  <div class="one-recipe">
    <img class="img-cirlce" src="images{{image}}" alt="{{name}}"/>
    <p><a href="/recipes/{{id}}">{{name}}</a></p>
  </div>
  {{/each}}
</div>

