<div class="shoppinglist">
  <div class="searchbar">
    <form>
      <label for="search">search</label>
      <input type="text" id="search" name="searched-for">
    </form>
  </div>

  <p>⚠️under construction⚠️</p>
</div>