body {
  background-color: rgb(114, 122, 120);
  font-family: 'Pangolin', cursive;
  color:rgb(40, 42, 42)
}

a {
  text-decoration: none;
  color:rgb(40, 42, 42);
  font-size: 2rem;
}

img:hover {
  opacity: 100%;
}

.container {
  background-color: rgb(145, 155, 153);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-cirlce{
  opacity: 75%;
  border-radius: 50%;
  object-fit: cover;
  height: 25vw;
  width: 25vw;
}

.one-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0%;
}

.nav {
  width: 31vw;
  margin-top: 0%;
  text-align: center;
  padding-top: 0.5rem;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

#nav1 {
  background-color: rgb(145, 155, 153);
}

#nav2 {
  background-color: rgb(129, 139, 137);
}

#nav3 {
  background-color: rgb(129, 139, 137);
}